*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: aliceblue;
}

h1{

}

.underline{
    margin-bottom: 3%;
    border-bottom: 4px solid rgb(75, 75, 255);
    height: 5px;
    width: 15%;
}

.main-container{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    width: 40%;
    min-height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.search-container{
    margin-top: 10%;
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    
}

.country-input{
    border: none;
    border-bottom: 4px solid black;
    border-color: rgb(75, 75, 255);
    outline: none;
    width: 70%;
    font-size: 1em;
}

.input-button{
    border-radius: 1.5em;
    padding: 2%;
    width: 20%;
    background-color:rgb(75, 75, 255) ;
    border:none;
    color:white;
}


.results-container{
    margin-top: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
}

.results-container h2{
    font-size: large;
    font-weight: 100;
    padding-left: 4%;
}

.results-container img{
    display: block;
    width:45%;
    margin: 4% 30%
}

.Name{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: large;
}

